@import "grid";
@import "variables";
@import "normalize";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


// debug
*{
    // outline: 0.1em solid rgba(red, 0.2);
}

body{
    font-family: "Montserrat", "Roboto", "Open Sans", sans-serif;
    background: #fffef9;
    color: $black;
}

#button-up{
    display: none;
    text-align: center;
    position: fixed;
    bottom: 60px;
    right: 60px;
    span{
        display: block;
        font-size: 40px;
        transform: translateY(6px) rotate(-90deg);
        font-weight: 300;
    }    
    background-color: $yellow;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

button, select, input{
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

select{
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid $black;
    padding: 15px 10px;
    position: relative;
    option::before {
        content: ">";
        color: #000;
        background: #000;
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

button{
    cursor: pointer;
    margin-bottom: 10px;
}

.btn{
    height: 50px;
    min-width: 270px;
    font-weight: 700;
    &-orange{
        background: $orange;
        &:hover{
            box-shadow: 0 0 50px rgba($orange, $alpha: 0.6);
        }
    }
    &-yellow{
        background: $yellow;
        &:hover{
            box-shadow: 0 0 45px rgba($orange, $alpha: 0.5);
        }
    }
    &-black{
        background: $black;
        color: $white;
        &:hover{
            box-shadow:  0 0 50px rgba($black, $alpha: 0.6);
        }
    }
}

header{

    .navbar{
        padding: 15px 0;
        background: $white;
        position: sticky;
        top: 0;
        &-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
        &-list{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                margin: 0 16px;
                list-style: none;
                .navbar-list__link{
                    transition: all 0.1s ease-in;
                    white-space: nowrap;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    color: $black;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 3px;
                    &.active{
                        color: $orange;
                        border-bottom: 3px solid $orange;
                    }
                    &:hover{
                        border-color: $black;
                    }
                }
            }
        }
        &-phone{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                padding-right: 10px;
            }
            a{ 
                text-decoration: none;
                color: $black;
                font-weight: 700;
            }
        }

    }
}

.section-containers{
    max-width: 1270px;
    margin: 0 auto;
    padding: 35px 0; 
    h2{
        text-align: center;
        margin-bottom: 60px;
    }
    .item{
        // width: 20%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h3{
            font-weight: 600;
        }
        ul{
            text-align: left;
            align-self: flex-start;
            margin-left: 45px;
            li{
                list-style: none;
                margin-bottom: 20px;
            }
        }
        .btn{
            color: $black;
            display: block;
            height: auto;
            padding: 20px 30px;
            min-width: auto;
            width: 90%;
            max-width: 100%;
        }
        padding: 30px 10px;
        &:hover{
            // background: $white;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
            z-index: 10;
        }
    }
}

.slick-slider{
    position: relative;
    .slick-prev{
        left: 5%;
        &:hover{
            opacity: 1;
        }
    } 
    .slick-next{
        right: 5%;
        &:hover{
            opacity: 1;
        }
    }
    .slick-arrow{
        opacity: 0.6;
        background: $white;
        color: $black;
        font-weight: 600;
        border-radius: 100px;
        font-size: 26px;
        bottom: 50%;
        transform: translate(-50%);
        z-index: 10;
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
    }
    .slick-dots{
        position: absolute;
        font-size: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
        margin-bottom: 40px;
        li{
            margin: 0 10px;
        }
        button{
            display: block;
            margin: 0;
            border-radius: 100%;
            border: 2px solid $white;
            width: 25px;
            height: 25px; 
        }
        .slick-active{
            button{
            width: 15px;
            height: 15px;
            background: $yellow;
            border: 0;
            }
            padding: 5px;
            border-radius: 100px;
            border: 2px solid $yellow;
            
        }
    }
}

main{
    #hero-slider{
        position: relative;
    }
    .section-hero-slider{

        .container{
            margin-top: 60px;
        }

        padding: 80px 0;
        min-height: 881px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
            color: $white;
        }
        ul{
            color: $white;
            padding-left: 21px;
            list-style: none;
            li{
                position: relative;
                margin-bottom: 12px;
                font-size: 20px;
                font-weight: 600;
                &::before{
                    content: "";
                    display: block;
                    width: 9px;
                    height: 9px;
                    background: $yellow;
                    border-radius: 100%;
                    position: absolute;
                    left: -18px;
                    top: 30%;
                }
            }
        }
        .promo{
            max-width: 85%;
            padding: 45px 20px;
            padding-top: 55px;
            margin-bottom: 50px;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            font-size: 22px;
            background: $yellow;
            font-weight: 700;
            -webkit-clip-path: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
        }
        .hero-slider-form{

            background: $white;
            padding: 18px 30px;

            .btn{
                width: 100%;
                margin-bottom: 16px;
                &-video_instruction{
                    background-color: rgba($orange, 0.5);
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: 25px;
                        height: 19px;
                        background-image: url("../assets/images/icons/youtube.png");
                        position: absolute;
                        top: 30%;
                        left: 17%;
                    }
                }
                &-instruction{
                    background-color: rgba($orange, 0.2);
                }
                &-submit{
                    text-transform: uppercase;
                }
            }

            max-width: 80%;
            margin: auto;  

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .select-wrapper{
                width: 100%;
                position: relative;
                &::before{
                    content: "ᐳ";
                    position: absolute;
                    top: 29%;
                    right: 15px; 
                    display: inline-block;
                    transform: rotate(90deg);
                    font-size: 18px;
                    font-weight: 600;
                    color: $yellow
                }
                select{
                    width: 100%;
                }
            }
            .payment{
                align-self: flex-end;
                font-size: 16px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 25px;            
            }
        }
    }
}